{% extends "base.html.twig" %}

{% block title %}Produits{% endblock %}


{% block stylesheets %}
    {{ include ('css.html.twig') }}
    <style>
        body
        {


            filter:alpha(opacity=50);
        }


    </style>
{% endblock stylesheets %}



{% block body %}

    {% block menu %}
        {{ include('nav.html.twig') }}
    {% endblock menu %}



<div class="jumbotron">
    Pour choisir un fournisseur informatique, il est conseillé de demander des devis comparatifs à plusieurs sociétés, afin d'étudier les tarifs, garantie, clauses des contrats et choix du matériel proposé. Il existe des comparateur des prix des équipements hightech en Tunisie, plus au moins fiable et plus au moins mis à jour.
</div>
<div class="blue row" >
    <div class="group-widget">
        <h4 class="title_group"><span>Nouveautés</span></h4>
        <div class="group_content">
            <div class="widget col-lg-3 col-md-3 col-sm-12 col-xs-12 col-sp-12 banner_product hidden-sm hidden-sp hidden-xs" >
                <div class="widget-html block">
                    <div class="block_content">
                        <p><a title="" href="http://www.mbm-tn.com/nouveaux-produits"> <img class="img-responsive" title="" src="http://www.mbm-tn.com/img/cms/banner-1.jpg" alt="" width="280" height="450" /> </a></p>
                    </div>
                </div>
            </div>
            <div class="widget col-lg-9 col-md-9 col-sm-12 col-xs-12 col-sp-12" >

                <div id="leomanagerwidgets" class="block products_block exclusive leomanagerwidgets">
                    <div class="block_content">

                        <div class="carousel slide" id="leoproductcarousel1184950044">

                            <a class="carousel-control left" href="#leoproductcarousel1184950044" data-slide="prev">‹</a>
                            <a class="carousel-control right" href="#leoproductcarousel1184950044" data-slide="next">›</a>

                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="product_list grid col-xs-12">
                                        <div class="row">
                                            <div class="ajax_block_product product_block col-md-3 col-xs-12 col-sm-6 first_item">

                                                <div class="product-container" itemscope itemtype="http://schema.org/Product">
                                                    <div class="left-block">
                                                        <div class="product-image-container">
                                                            <a class="product_img_link"	href="http://www.mbm-tn.com/pc-portables/2200-pc-portable-lenovo-ideapad-110-i3-6eme-gen-4go-1to-2go-dediee.html" title="Pc Portable LENOVO IdeaPad 110 / i3 6ème Gén / 4Go / 1To / 2Go Dédiée" itemprop="url">
                                                                <img class="replace-2x img-responsive" src="http://www.mbm-tn.com/3952-home_default/pc-portable-lenovo-ideapad-110-i3-6eme-gen-4go-1to-2go-dediee.jpg" alt="Pc Portable LENOVO IdeaPad 110 / i3 6ème Gén / 4Go / 1To / 2Go Dédiée" title="Pc Portable LENOVO IdeaPad 110 / i3 6ème Gén / 4Go / 1To / 2Go Dédiée"  itemprop="image" />
                                                            </a>
                                                            <div class="quick-view-wrapper-mobile">
                                                                <a class="quick-view-mobile" href="http://www.mbm-tn.com/pc-portables/2200-pc-portable-lenovo-ideapad-110-i3-6eme-gen-4go-1to-2go-dediee.html" rel="http://www.mbm-tn.com/pc-portables/2200-pc-portable-lenovo-ideapad-110-i3-6eme-gen-4go-1to-2go-dediee.html">
                                                                    <i class="icon-eye-open"></i>
                                                                </a>
                                                            </div>
                                                            <a class="quick-view" href="http://www.mbm-tn.com/pc-portables/2200-pc-portable-lenovo-ideapad-110-i3-6eme-gen-4go-1to-2go-dediee.html" rel="http://www.mbm-tn.com/pc-portables/2200-pc-portable-lenovo-ideapad-110-i3-6eme-gen-4go-1to-2go-dediee.html">
                                                                <span>Vue rapide</span>
                                                            </a>
                                                            <div class="content_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
																	<span itemprop="price" class="price product-price">
										989,000DT									</span>
                                                                <meta itemprop="priceCurrency" content="TND" />


                                                            </div>
                                                            <a class="new-box" href="http://www.mbm-tn.com/pc-portables/2200-pc-portable-lenovo-ideapad-110-i3-6eme-gen-4go-1to-2go-dediee.html">
                                                                <span class="new-label product-label">Nouveau</span>
                                                            </a>

                                                        </div>


                                                    </div>
                                                    <div class="right-block">
                                                        <h5 itemprop="name">
                                                            <a class="product-name" href="http://www.mbm-tn.com/pc-portables/2200-pc-portable-lenovo-ideapad-110-i3-6eme-gen-4go-1to-2go-dediee.html" title="Pc Portable LENOVO IdeaPad 110 / i3 6ème Gén / 4Go / 1To / 2Go Dédiée" itemprop="url" >
                                                                Pc Portable LENOVO IdeaPad 110 / i3 6ème...
                                                            </a>
                                                        </h5>
                                                        <p class="product-desc" itemprop="description">
                                                            Ecran 15.6" HD
                                                            Processeur: Intel Core I3-6006U 6éme génération (2.0 GHz, 3...
                                                        </p>
                                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
													<span itemprop="price" class="price product-price">
								989,000DT							</span>
                                                            <meta itemprop="priceCurrency" content="TND" />


                                                        </div>
																							<span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
																	<span class="available-now">
										<link itemprop="availability" href="http://schema.org/InStock" />En stock									</span>
															</span>



                                                        <div class="color-list-container"> </div>
                                                        <div class="product-flags">
                                                        </div>

                                                    </div>
                                                    <div class="button-container clearfix">
                                                        <a class="button ajax_add_to_cart_button btn btn-default" href="http://www.mbm-tn.com/panier?add=1&amp;id_product=2200&amp;token=2f4e639b2db4b01f9fd47026d9d3d9e9" rel="nofollow" title="Ajouter au panier" data-id-product="2200">
                                                            <span>Ajouter au panier</span>
                                                        </a>

                                                        <div class="functional-buttons">
                                                            <div class="view">
                                                                <a itemprop="url" class="lnk_view" href="http://www.mbm-tn.com/pc-portables/2200-pc-portable-lenovo-ideapad-110-i3-6eme-gen-4go-1to-2go-dediee.html" title="Voir">

                                                                </a>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div><!-- .product-container> -->

                                            </div>

                                            <div class="ajax_block_product product_block col-md-3 col-xs-12 col-sm-6 ">

                                                <div class="product-container" itemscope itemtype="http://schema.org/Product">
                                                    <div class="left-block">
                                                        <div class="product-image-container">
                                                            <a class="product_img_link"	href="http://www.mbm-tn.com/disque-dur-externe/2199-disque-dur-externe-2to-apacer-ac233-.html" title="Disque Dur 2.5&quot; Externe 2To Apacer AC233 " itemprop="url">
                                                                <img class="replace-2x img-responsive" src="http://www.mbm-tn.com/3947-home_default/disque-dur-externe-2to-apacer-ac233-.jpg" alt="Disque Dur Externe 2To Apacer AC233 " title="Disque Dur Externe 2To Apacer AC233 "  itemprop="image" />
                                                            </a>
                                                            <div class="quick-view-wrapper-mobile">
                                                                <a class="quick-view-mobile" href="http://www.mbm-tn.com/disque-dur-externe/2199-disque-dur-externe-2to-apacer-ac233-.html" rel="http://www.mbm-tn.com/disque-dur-externe/2199-disque-dur-externe-2to-apacer-ac233-.html">
                                                                    <i class="icon-eye-open"></i>
                                                                </a>
                                                            </div>
                                                            <a class="quick-view" href="http://www.mbm-tn.com/disque-dur-externe/2199-disque-dur-externe-2to-apacer-ac233-.html" rel="http://www.mbm-tn.com/disque-dur-externe/2199-disque-dur-externe-2to-apacer-ac233-.html">
                                                                <span>Vue rapide</span>
                                                            </a>
                                                            <div class="content_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
																	<span itemprop="price" class="price product-price">
										225,000DT									</span>
                                                                <meta itemprop="priceCurrency" content="TND" />


                                                            </div>
                                                            <a class="new-box" href="http://www.mbm-tn.com/disque-dur-externe/2199-disque-dur-externe-2to-apacer-ac233-.html">
                                                                <span class="new-label product-label">Nouveau</span>
                                                            </a>

                                                        </div>


                                                    </div>
                                                    <div class="right-block">
                                                        <h5 itemprop="name">
                                                            <a class="product-name" href="http://www.mbm-tn.com/disque-dur-externe/2199-disque-dur-externe-2to-apacer-ac233-.html" title="Disque Dur 2.5&quot; Externe 2To Apacer AC233 " itemprop="url" >
                                                                Disque Dur 2.5&quot; Externe 2To Apacer AC233
                                                            </a>
                                                        </h5>
                                                        <p class="product-desc" itemprop="description">
                                                            Capacité: 2To
                                                            Interface: USB 3.0
                                                            Format De Disque : 2.5 Pouces
                                                            Vitesse de...
                                                        </p>

                                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
													<span itemprop="price" class="price product-price">
								225,000DT							</span>
                                                            <meta itemprop="priceCurrency" content="TND" />


                                                        </div>
																							<span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
																	<span class="available-now">
										<link itemprop="availability" href="http://schema.org/InStock" />En stock									</span>
															</span>



                                                        <div class="color-list-container"> </div>
                                                        <div class="product-flags">
                                                        </div>

                                                    </div>
                                                    <div class="button-container clearfix">
                                                        <a class="button ajax_add_to_cart_button btn btn-default" href="http://www.mbm-tn.com/panier?add=1&amp;id_product=2199&amp;token=2f4e639b2db4b01f9fd47026d9d3d9e9" rel="nofollow" title="Ajouter au panier" data-id-product="2199">
                                                            <span>Ajouter au panier</span>
                                                        </a>

                                                        <div class="functional-buttons">
                                                            <div class="view">
                                                                <a itemprop="url" class="lnk_view" href="http://www.mbm-tn.com/disque-dur-externe/2199-disque-dur-externe-2to-apacer-ac233-.html" title="Voir">

                                                                </a>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div><!-- .product-container> -->

                                            </div>

                                            <div class="ajax_block_product product_block col-md-3 col-xs-12 col-sm-6 ">

                                                <div class="product-container" itemscope itemtype="http://schema.org/Product">
                                                    <div class="left-block">
                                                        <div class="product-image-container">
                                                            <a class="product_img_link"	href="http://www.mbm-tn.com/camera-ip/2197-camera-ip-1mp-cube-hik-ir.html" title="Caméra IP 1MP Cube HIK-IR" itemprop="url">
                                                                <img class="replace-2x img-responsive" src="http://www.mbm-tn.com/3942-home_default/camera-ip-1mp-cube-hik-ir.jpg" alt="Caméra IP 1MP Cube HIK-IR" title="Caméra IP 1MP Cube HIK-IR"  itemprop="image" />
                                                            </a>
                                                            <div class="quick-view-wrapper-mobile">
                                                                <a class="quick-view-mobile" href="http://www.mbm-tn.com/camera-ip/2197-camera-ip-1mp-cube-hik-ir.html" rel="http://www.mbm-tn.com/camera-ip/2197-camera-ip-1mp-cube-hik-ir.html">
                                                                    <i class="icon-eye-open"></i>
                                                                </a>
                                                            </div>
                                                            <a class="quick-view" href="http://www.mbm-tn.com/camera-ip/2197-camera-ip-1mp-cube-hik-ir.html" rel="http://www.mbm-tn.com/camera-ip/2197-camera-ip-1mp-cube-hik-ir.html">
                                                                <span>Vue rapide</span>
                                                            </a>
                                                            <div class="content_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
																	<span itemprop="price" class="price product-price">
										215,000DT									</span>
                                                                <meta itemprop="priceCurrency" content="TND" />


                                                            </div>
                                                            <a class="new-box" href="http://www.mbm-tn.com/camera-ip/2197-camera-ip-1mp-cube-hik-ir.html">
                                                                <span class="new-label product-label">Nouveau</span>
                                                            </a>

                                                        </div>

                                                        {% endblock body %}
                                                        {% block map %}

                                                        {% endblock map %}


