<ul>
    <li><a class="active" href="{{ path('prod') }}">Fournisseur</a></li>
    <li><a class="active" href="{{ path('ajouterFour') }}">Ajouter</a></li>
    <li><a class="active" href="{{ path('listFour') }}">Liste</a></li>
</ul>